<div class="container">
  <h1>Todo List</h1>
  <div class="input-container">
    <input class="todo-input" placeholder="Add a new task..." [(ngModel)]="newTodo">
    <button class="add-button" (click)="saveTodo()">
      <i class="fa fa-plus-circle"></i>
    </button>
  </div>
  <div class="filters">
    <div class="delete-all " (click)="deleteAll()">Delete All</div>
  </div>
  <div class="todos-container">
    <ul class="todos">
      <li class="todo " *ngFor="let todo of todos; let i = index;">
        <label>
          <input type="checkbox">

          <span class="checked">{{i+1}}. {{todo.name}}</span>
        </label>
        <button class="delete-btn" (click)="delete(i)"><i class="fa fa-times"></i></button>
      </li>
    </ul>
  </div>
</div>